{% extends 'base.html' %}
{% block title %}{{ carrer.title }}{% endblock %}
{% block content %}
    {% load static %}
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor">
                    <div class="col-md-3">
                        <div class="cor-top-deta cor-side-com">
                            <div class="cor-top-deta">
                                <div class="ho-st-login cor-apply field-com">
                                    <div class="col s12">
                                        <form class="col s12" method="post" action="{% url 'admision' %}">
                                          {% csrf_token %}
                                            <div class="cor-left-app-tit">
                                                <h4>Aplica en esta carrera</h4>
                                                <p>Nulla at velit convallis lectus.</p>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate" name="first_name">
                                                    <label>Nombre</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate" name="last_name">
                                                    <label>Apellido</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate" name="email">
                                                    <label>Email</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate" name="phone">
                                                    <label>Número telefónico</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate" name="carrer" value="{{ object.title }}">
                                                    <label>{{ object.title }}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="submit" value="APPLY NOW" class="waves-effect waves-light light-btn">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cor-side-com">
                            <div class="">
                                <div class="de-left-tit">
                                    <h4>Próximos Eventos</h4>
                                </div>
                            </div>
                            <div class="ho-event">
                                <ul>
                                  {% for event in events %}
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="#">
                                                <h4>{{ event.title }}</h4>
                                            </a>
                                            <p>{{ event.description|slice:':20' }}</p>
                                            <span>{{ event.date_init|time }} – {{ event.date_finished|time }}</span>
                                        </div>
                                    </li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cor-mid-img">
                            <img src="{{ carrer.image.url }}" alt="">
                        </div>
                        <div class="cor-con-mid">
                            <div class="cor-p1">
                                <h2>{{ carrer.title }}</h2>
                                <span>Category: {{ carrer.category.name }}</span>
                                <div class="share-btn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cor-p4">
                                <h3>Detalles de la carrera</h3>
                                <p>{{ carrer.description }}</p>
                            </div>
                            <div class="cor-p5">
                                <h3>Información de la Carrera</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">
									<img src="{% static 'img/icon/cor5.png' %}" alt=""> <span>Requirimientos</span></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#menu1"><img src="{% static 'img/icon/cor3.png' %}" alt=""><span>Costos</span></a></li>
                                    <li><a data-toggle="tab" href="#menu2"><img src="{% static 'img/icon/cor1.png' %}" alt=""><span>Perfil del Estudiante</span></a></li>

                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <h4>Requerimientos</h4>
                                        {{ object.informationcarrer.requirements|linebreaks }}
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <h4>Costos</h4>
                                        {{ object.informationcarrer.costos|linebreaks }}
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <h4>Perfil del Egresado</h4>
                                        <p>{{ object.informationcarrer.student_profile|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cor-p4">
                                <h3>Malla Curricular</h3>
                                <p> Puedes revisar lo que aprenderas con nosotros</p>
                                <ul class="collapsible" data-collapsible="accordion">
                                        {% for semestre in semesters.all %}
                                            <li>
                                            <div class="collapsible-header">{{ semestre }}</div>
                                            <div class="collapsible-body cor-tim-tab">
                                                <h4>{{ semester.semester_name }}</h4>
                                                    <ul>
                                                        {% for assignature in asignatures %}
                                                            {% if assignature.cicle.number_semester == semestre.number_semester %}
                                                                {% for carrer_asignature in assignature.carrer.get_queryset %}
                                                                    {% if carrer_asignature.title == carrer.title %}
                                                                        <li>{{ assignature.name_assignature }}</li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                        {% endfor %}
                                </ul>
                            </div>
                            <div class="cor-p6">
                                <h3>Reseña de otros estudiantes</h3>
                                {% for comment in object.comments.all reversed %}
                                <div class="cor-p6-revi">
                                    <div class="cor-p6-revi-left">
                                        <img src="images/4.jpg" alt="">
                                    </div>
                                    <div class="cor-p6-revi-right">
                                        <h4>{{ comment.author.username }}</h4>
                                        <span>{{ coment.created_at }}</span>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="cor-p6">

                                {% if request.user.is_authenticated %}
                                  <h3>Escribe una Reseña</h3>
                                  <div class="cor-p7-revi">
                                    <form class="col s12" method="POST" action="{% url 'create_comment' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea class="materialize-textarea" name="{{ comment_form.content.name }}"></textarea>
                                                <input type="hidden" name="{{ comment_form.carrer.name }}" value="{{ carrer.id }}">
                                                <label>Message</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" value="Enviar" class="waves-effect waves-light btn-book">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                  {% else %}
                                  <h3>Tienes que iniciar Sesion para comentar</h3>

                                {% endif %}


                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cor-side-com">
                            <div class="ho-ev-latest ho-ev-latest-bg-3">
                                <div class="ho-lat-ev">
                                    <h4>Student Login</h4>
                                    <p>Student area velit convallis venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                            <div class="ho-st-login">
                                <div class="col s12">
                                    <form class="col s12" method="post" action="{% url 'users:login_view' %}">
                                      {% csrf_token %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="email" class="validate" name="email">
                                                <label>Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="password" class="validate" name="password">
                                                <label>Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" value="Login" class="waves-effect waves-light light-btn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
