{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Instituto CompuSur</title>
    <!-- META TAGS -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="{% static 'img/fav.ico' %}" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- ALL CSS FILES -->
    <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="{% static 'css/style-mob.css' %}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

	<![endif]-->
    <script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
</head>
<body>
    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logoITSCS.svg' %}" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Todas las Carreras</h4>
                            <ul>
                              {% for carrer in carrers %}
                                <li><a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}">{{ carrer.title }}</a></li>
                              {% endfor %}

                            </ul>
                            <h4>Cuenta de Usuario</h4>
                            <ul>
                                {% if request.user.is_authenticated %}
                                  <li><a href="{% url 'users:logout_view' %}" >Logout</a></li>
                                {% else %}
                                  <li><a href="" data-toggle="modal" data-target="#modal1">Login</a></li>
                                {% endif %}

                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Signup</a></li>
                            </ul>
                            <h4>La institución</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">Sobre Nosotros</a></li>
                                <li><a href="{% url 'admision' %}">Admision</a></li>
                                <li><a href="{% url 'allCarrers' %}">Oferta Academica</a></li>
                                <li><a href="{% url 'allEvents' %}">Eventos y Seminarios</a></li>
                                <li><a href="{% url 'contact' %}">Contactanos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Av. Maldonado y Gaspar Lozano </a>
                                </li>
                                <li><a href="#">Phone: +101-1231-1231</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">

                            {% if request.user.is_authenticated %}
                                <ul>
                                <li><a href="#!" data-toggle="modal" >{{ request.user.username }}</a>
                                </li>
                                <li><a href="{% url 'users:logout_view' %}" data-toggle="modal" >Cerrar Sesion</a>

                            </ul>
                            {% else %}
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/itscs.svg' %}" alt="" style="height: 55px;"/>
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Inicio</a>
                                </li>
                                <li class="about-menu">
                                    <a href="{% url 'about' %}" class="mm-arr">Sobre Nosotros</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="">
                                                            <img src="{% static 'img/h-about.jpg' %}" alt="">
                                                            <span>Conócenos</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Nuestro principal objetivo es formar excelentes desarrolladores de software y expertos en seguridad informatica </p>
                                                    <a href="{% url 'about' %}" class="mm-r-m-btn">Saber Mas</a>
                                                </div>
                                               <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="{% url 'allResearches' %}">Investigaciones</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Admisiones</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                {% for carre in carrers %}

                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="{% url 'courseDetail'  carre.id carre.title|slugify %}">
                                                            <img src="{{ carre.image.url }}" alt="">

                                                        </a>
                                                    </div>
                                                    <p><b>{{ carre.title }}</b></p>
                                                    <p>{{ carre.description|slice:":250" }} ...</p>
                                                    <a href="{% url 'courseDetail'  carre.id carre.title|slugify %}" class="mm-r-m-btn">Read more</a>

                                                </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="{% url 'allCarrers' %}">Oferta académica</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->

                                <li><a href="{% url 'allEvents' %}">Eventos</a>
                                </li>
                                <li><a href="{% url 'contact' %}">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                      {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                      {% endif %}
                      {% if 'ok' in request.GET %}
                        <div class="alert alert-success" role="alert">
                            Cuenta agregada con éxito
                        </div>
                      {% endif %}
                        <div class="search-form">
                            <form method="get" action="{% url 'search_carrer' query='query' %}">
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Busca Cursos" name="query">
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Buscar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% block content %}
{% endblock %}
    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
				<div class="col-md-12">
				<h4>About Wedding Planner</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
				<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p></p>
			  </div>
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4">
                    <h4>Nuestros Cursos</h4>
                    <ul>
                      {% for carrer in carrers %}
                        <li><a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}">{{ carrer.title }}</a></li>
                      {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="{% url 'contact' %}">24x7 Live help</a>
                        </li>
                        <li><a href="{% url 'contact' %}">Contact us</a>
                        </li>
                        <li><a href="{% url 'contact' %}">Feedback</a>
                        </li>
                        <li><a href="{% url 'contact' %}">FAQs</a>
                        </li>
                        <li><a href="{% url 'contact' %}">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Direccion: Av. Maldonado y Gaspar Lozano - Quito</p>
                    <p>Phone: <a href="#!">+101-1231-4321</a></p>
                    <p>Email: <a href="#!">info@itscompusur.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="www.danny.rivadeneira.xyz">CopyRight (Instituto Compusur - 2018) - Danny Rivadeneira</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'img/cancel.png' %}" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12" action="{% url 'users:login_view' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <div class="input-field s12">
                                <input type="email" name="email" class="validate">
                                <label>Email</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="password">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hola</h1>
                    <p>Crea una cuenta gratuita</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'img/cancel.png'%}" alt="" />
                    </a>
                    <h4>Crea una cuenta</h4>
                    <p>Crea una cuenta, es gratis</p>
                    <form class="s12" method="post" action="{% url 'users:signup_view' %}">
                        {% csrf_token %}
                        <div>
                            <div class="input-field s12">
                                <input type="text" class="validate" name="first_name">
                                <label>Nombre</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="text" class="validate" name="last_name">
                                <label>Apellido</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate" name="username">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate" name="email">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="password">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" name="password_confirmation">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'img/cancel.png'%}" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/main.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
</body>
</html>
