{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% load static %}
{% block content %}
  <section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>{{ object.title }}</h1>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
									 <li>
                                        <div class="ho-ev-date pg-eve-date"><span>{{ object.date_init|date:'d' }}</span><span>{{ object.date_init|date:'M, y' }}</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>{{ object.title }}</h4>
                                            </a>
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
											<img src="{{ object.image.url }}" alt="">
                                            <p>{{ object.description }}</p>
                                            <span>{{ object.date_init|time }} – {{ object.date_finished|time }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
