{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}
{% block content %}
    <!-- SLIDER -->
   <!-- SLIDER -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="{% static 'images/slider/1.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Bienvenido al <span>Instituto Superior CompuSur</span></h2>
                        <p>Nunca Pares de aprender</p>
                        <a href="{% url 'allCarrers' %}" class="bann-btn-1">Todas las carreras</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/slider/2.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Inscripciones abiertas <span>2018</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="bann-btn-1">Admission</a><a href="#" class="bann-btn-2">Read More</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/slider/3.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Nuestra Oferta <span>Académica</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="{% url 'allCarrers' %}" class="bann-btn-1">Todas las carreras</a>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>

    <!-- QUICK LINKS -->
    <section>
        <div class="container">
            <div class="row">
                <div class="wed-hom-ser">
                    <ul>
                        <li>
                            <a href="awards.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'core/images/icon/h-ic1.png' %}" alt=""> Academy</a>
                        </li>
                        <li>
                            <a href="admission.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'core/images/icon/h-ic2.png' %}" alt=""> Admission</a>
                        </li>
                        <li>
                            <a href="" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'core/images/icon/h-ic4.png' %}" alt=""> Carreras</a>
                        </li>
                        <li>
                            <a href="seminar.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'core/images/icon/h-ic3.png' %}" alt=""> Seminar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- DISCOVER MORE -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Descubre <span>Nuestras Carreras y Cursos</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'about' %}">
                                <img src="{% static 'images/h-about.jpg' %}" alt="">
                                <span>Sobre Nosotros</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'admision' %}">
                                <img src="{% static 'images/h-adm1.jpg' %}" alt="">
                                <span>Admisiones</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'allEvents' %}">
                                <img src="{% static 'images/h-cam.jpg' %}" alt="">
                                <span>Eventos y Seminarios</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'allResearches' %}">
                                <img src="{% static 'images/h-res.jpg' %}" alt="">
                                <span>Investigacion</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- POPULAR COURSES -->
    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Nuestros <span>Cursos</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
                {% for carrer in carrers %}
                <div class="col-md-6">

                    <div>

                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ carrer.image.url }}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}">
                                    <h3>{{ carrer.title }}</h3>
                                </a>
                                <h4>{{ carrer.category }}</h4>
                                <p>{{ carrer.title }}</p>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>Saber Más</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div>
                </div>
            </div>
        </div>
    </section>

    <!-- UPCOMING EVENTS -->
    <section>
        <div class="container com-sp pad-bot-0">
            <div class="row">
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-1">
                        <div class="ho-lat-ev">
                            <h4>Próximos Eventos</h4>
                            <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>

                              {% for event in events %}
                                {%  if forloop.counter < 4 %}
                                  <li>
                                  <div class="ho-ev-date"><span>{{ event.date_init|date:'d' }}</span><span>{{ event.date_init|date:'M, y' }}</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="{% url 'eventDetail' event.pk event.title|slugify %}">
                                        <h4>{{ event.title }}</h4>
                                    </a>
                                    <p>{{ event.description|slice:':20' }}...</p>
                                    <span>{{ event.date_init|time }} – {{ event.date_finished|time }}</span>
                                </div>
                                  </li>
                                {% endif %}
                              {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-2">
                        <div class="ho-lat-ev">
                            <h4>Revisa nuestro Blog</h4>
                            <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>
                          {% for blog in blogs %}
                            {% if forloop.counter < 4 %}
                              <li>
                                <div class="ho-ev-img"><img src="{{ blog.image.url }}" alt="">
                                </div>
                                <div class="ho-ev-link">
                                    <a href="{% url 'detial_blog' blog.pk blog.title|slugify %}">
                                        <h4>{{ blog.title }}</h4>
                                    </a>
                                    <p>{{ blog.content|slice:':20' }}...</p>
                                    <span>Instituto CompuSur</span>
                                </div>
                            </li>
                            {% endif %}
                          {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                  {% if not request.user.is_authenticated %}
                    <div class="ho-ev-latest ho-ev-latest-bg-3">
                        <div class="ho-lat-ev">
                            <h4>Register & Login</h4>
                            <p>Student area velit convallis venenatis lacus quis, efficitur lectus.</p>
                        </div>
                    </div>
                    <div class="ho-st-login">
                        <ul class="tabs tabs-hom-reg">
                            <li class="tab col s6"><a href="#hom-vijay">Register</a>
                            </li>
                            <li class="tab col s6"><a href="#hom_log">Login</a>
                            </li>
                        </ul>
                        <div id="hom-vijay" class="col s12">
                            <form class="col s12" method="post" action="{% url 'users:signup_view' %}">
                              {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate" name="first_name">
                                        <label>Nombre</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate" name="last_name">
                                        <label>Apellido</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate" name="username">
                                        <label>User name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="email" class="validate" name="email">
                                        <label>Email id</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate" name="password">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate" name="password_confirmation">
                                        <label>Confirm password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Register" class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="hom_log" class="col s12">
                            <form class="col s12" method="post" action="{% url 'users:login_view' %}">
                              {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate" name="email">
                                        <label>Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate" name="password">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Login" class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                  {% endif %}


                </div>
            </div>
        </div>
    </section>

    <!-- NEWS AND EVENTS -->


    <!-- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>Lorem Ipsum</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="{% url 'admision' %}">Inscribete Ya!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
